In [1]:
#파이썬 기초12강 - 파일다루기
 #try - catch - finally 문 실행
    
f=0 # 변수 선언 및 값 0 초기화
try: # 정상 실행구문
    f=open("LICENSE.txt","rt") # 해당이름의 텍스트파일을 읽기모드로 열기
    while True: # 무한 루프
        r=f.readline() # 텍스트 파일에서 한 줄 읽고 r에 담기
        if not r: # 라인 없으면
            break # 반복 종료
        print(r) # 한줄씩 파일 내용 출력
        
except FileNotFoundError: # 예외 에러 처리
    print("파일없음") # 파일이 없으면, 파일없음 메시지 출력
    
finally: # 무조건 실행 => 마지막 실행구문
    if(f): f.close() # 파일 닫고
    print("프로그램 끝") # 프로그램끝 메시지 출력

파일없음
프로그램 끝

In [2]:
#파일 쓰기
# 100명의 국어,영어,수학 점수를 임의로 만든 후 csv형태의 파일의 기록하는 예제
import random as r # 랜덤 모듈 불러오고 r이라고 명명

f=0 # 변수 선언 및 값 0 초기화
f=open("score.txt","wt") # 텍스트 파일을 쓰기로 열기 => 파일이름은 score.txt로 지정

# 아래와 같은 형태를 만들기 위하여 str.format 함수를 사용할 수 있다. 
#   one_person="{0:s},{1:d},{2:d},{3:d}\n"
#.format("홍길동"+str(i),r.randrange(0,100),r.randrange(0,100),r.randrange(0,100)) 

#txt파일에 값 채워넣는 반복문
for i in range(100): # 변수 i 범위는 0~99까지로 총 100회 반복
    
    # 홍길동+번호,국어점수,영어점수,수학점수 랜덤 생성해 one_person에 한 줄로 대입
    #각 과목 점수 범위는 0~99
    one_person="홍길동"+str(i)+","+str(r.randrange(0,100))+","+str(r.randrange(0,100))+"," \
    +str(r.randrange(0,100))+"\n" 
    f.write(one_person) #한 줄씩 쓴다
    print(one_person) # 한명씩 [홍길동+번호,국어점수,영어점수,수학점수] 출력
f.close() # 파일 닫기

홍길동0,54,6,74

홍길동1,27,88,64

홍길동2,90,7,15

홍길동3,12,26,82

홍길동4,34,97,38

홍길동5,85,23,75

홍길동6,41,68,81

홍길동7,87,74,0

홍길동8,85,7,29

홍길동9,16,69,67

홍길동10,16,44,5

홍길동11,44,88,47

홍길동12,21,59,37

홍길동13,47,83,3

홍길동14,15,30,4

홍길동15,24,57,41

홍길동16,76,22,69

홍길동17,88,79,93

홍길동18,59,48,0

홍길동19,37,77,23

홍길동20,18,22,38

홍길동21,1,68,70

홍길동22,1,66,31

홍길동23,42,63,99

홍길동24,8,95,81

홍길동25,20,31,69

홍길동26,0,69,20

홍길동27,86,65,29

홍길동28,45,63,91

홍길동29,91,82,73

홍길동30,1,97,59

홍길동31,43,7,50

홍길동32,19,97,90

홍길동33,76,26,91

홍길동34,82,70,0

홍길동35,77,70,57

홍길동36,67,90,64

홍길동37,34,38,51

홍길동38,58,82,18

홍길동39,73,69,99

홍길동40,14,91,11

홍길동41,1,71,61

홍길동42,96,82,44

홍길동43,59,53,15

홍길동44,22,81,34

홍길동45,41,76,75

홍길동46,17,75,45

홍길동47,57,27,67

홍길동48,92,13,92

홍길동49,50,47,85

홍길동50,25,92,70

홍길동51,88,7,99

홍길동52,27,88,18

홍길동53,53,17,49

홍길동54,24,96,65

홍길동55,92,22,72

홍길동56,40,7,89

홍길동57,81,65,25

홍길동58,19,65,86

홍길동59,33,46,60

홍길동60,67,3,92

홍길동61,50,72,95

홍길동62,96,10,10

홍길동63,22,95,67

홍길동64,57,54,98

홍길동65,95,59,19

홍길동66,61,29,66

홍길동67,76,50,68

홍길동68,3,98,23

홍길동69,9,76,33

홍길동70,90,1,44

홍길동71,46,48,43

홍길동72,42,50,99

홍길동73,20,14,41

홍길동74,93,80,26

홍길동75,88,98,30

홍길동76,2,70,12

홍길동77,93,2,75

홍길동78,44,75,81

홍길동79,57,11,38

홍길동80,48,33,97

홍길동81,13,59,80

홍길동82,6,62,38

홍길동83,73,49,5

홍길동84,86,19,78

홍길동85,78,27,13

홍길동86,46,53,3

홍길동87,82,58,59

홍길동88,79,58,88

홍길동89,17,22,91

홍길동90,30,48,47

홍길동91,14,16,71

홍길동92,53,6,76

홍길동93,9,32,99

홍길동94,10,58,6

홍길동95,61,12,74

홍길동96,12,66,88

홍길동97,92,95,95

홍길동98,15,16,86

홍길동99,10,35,78

In [4]:
#파일 읽기
#앞서 만든 csv파일을 한 줄씩 읽어서 처리하는 예제
#csv파일 자료구조 : 홍길동99,10,35,78  => 이름+번호, 국어성적,영어성적,수학성적 순

f=0# 변수 선언 및 값 0 초기화
f=open("score.txt","rt")  # score.txt라는 텍스트 파일을 읽기모드로 열기

while True: # 무한 루프
    one_person=f.readline() # 텍스트 파일을 한 줄씩 읽어서 one_person에 대입
    if not one_person: break # 읽을 내용이 없으면 루프 종료
        
    one_person=one_person.replace("\n","") # 한 줄씩 읽은 one_person에 줄바꿈이 있으면 제거함. 
    item=one_person.split(",") #one_person을 콤마를 구분자로 잘라서 변수 item에 대입
    print("="*15) # 구분선으로 등호 15개 출력
    print("이름: ", item[0]) # 이름 출력 => item인덱스 0번 값
    print("국어: ", item[1]) # 국어 성적 출력 => item인덱스 1번 값
    print("영어: ", item[2]) # 영어 성적 출력 => item인덱스 2번 값
    print("수학: ", item[3]) # 수학 성적 출력 => item인덱스 3번 값
    print("="*15) # 구분선으로 등호 15개 출력
f.close() # 파일 닫기

===============
이름:  홍길동0
국어:  54
영어:  6
수학:  74
===============
===============
이름:  홍길동1
국어:  27
영어:  88
수학:  64
===============
===============
이름:  홍길동2
국어:  90
영어:  7
수학:  15
===============
===============
이름:  홍길동3
국어:  12
영어:  26
수학:  82
===============
===============
이름:  홍길동4
국어:  34
영어:  97
수학:  38
===============
===============
이름:  홍길동5
국어:  85
영어:  23
수학:  75
===============
===============
이름:  홍길동6
국어:  41
영어:  68
수학:  81
===============
===============
이름:  홍길동7
국어:  87
영어:  74
수학:  0
===============
===============
이름:  홍길동8
국어:  85
영어:  7
수학:  29
===============
===============
이름:  홍길동9
국어:  16
영어:  69
수학:  67
===============
===============
이름:  홍길동10
국어:  16
영어:  44
수학:  5
===============
===============
이름:  홍길동11
국어:  44
영어:  88
수학:  47
===============
===============
이름:  홍길동12
국어:  21
영어:  59
수학:  37
===============
===============
이름:  홍길동13
국어:  47
영어:  83
수학:  3
===============
===============
이름:  홍길동14
국어:  15
영어:  30
수학:  4
===============
===============
이름:  홍길동15
국어:  24
영어:  57
수학:  41
===============
===============
이름:  홍길동16
국어:  76
영어:  22
수학:  69
===============
===============
이름:  홍길동17
국어:  88
영어:  79
수학:  93
===============
===============
이름:  홍길동18
국어:  59
영어:  48
수학:  0
===============
===============
이름:  홍길동19
국어:  37
영어:  77
수학:  23
===============
===============
이름:  홍길동20
국어:  18
영어:  22
수학:  38
===============
===============
이름:  홍길동21
국어:  1
영어:  68
수학:  70
===============
===============
이름:  홍길동22
국어:  1
영어:  66
수학:  31
===============
===============
이름:  홍길동23
국어:  42
영어:  63
수학:  99
===============
===============
이름:  홍길동24
국어:  8
영어:  95
수학:  81
===============
===============
이름:  홍길동25
국어:  20
영어:  31
수학:  69
===============
===============
이름:  홍길동26
국어:  0
영어:  69
수학:  20
===============
===============
이름:  홍길동27
국어:  86
영어:  65
수학:  29
===============
===============
이름:  홍길동28
국어:  45
영어:  63
수학:  91
===============
===============
이름:  홍길동29
국어:  91
영어:  82
수학:  73
===============
===============
이름:  홍길동30
국어:  1
영어:  97
수학:  59
===============
===============
이름:  홍길동31
국어:  43
영어:  7
수학:  50
===============
===============
이름:  홍길동32
국어:  19
영어:  97
수학:  90
===============
===============
이름:  홍길동33
국어:  76
영어:  26
수학:  91
===============
===============
이름:  홍길동34
국어:  82
영어:  70
수학:  0
===============
===============
이름:  홍길동35
국어:  77
영어:  70
수학:  57
===============
===============
이름:  홍길동36
국어:  67
영어:  90
수학:  64
===============
===============
이름:  홍길동37
국어:  34
영어:  38
수학:  51
===============
===============
이름:  홍길동38
국어:  58
영어:  82
수학:  18
===============
===============
이름:  홍길동39
국어:  73
영어:  69
수학:  99
===============
===============
이름:  홍길동40
국어:  14
영어:  91
수학:  11
===============
===============
이름:  홍길동41
국어:  1
영어:  71
수학:  61
===============
===============
이름:  홍길동42
국어:  96
영어:  82
수학:  44
===============
===============
이름:  홍길동43
국어:  59
영어:  53
수학:  15
===============
===============
이름:  홍길동44
국어:  22
영어:  81
수학:  34
===============
===============
이름:  홍길동45
국어:  41
영어:  76
수학:  75
===============
===============
이름:  홍길동46
국어:  17
영어:  75
수학:  45
===============
===============
이름:  홍길동47
국어:  57
영어:  27
수학:  67
===============
===============
이름:  홍길동48
국어:  92
영어:  13
수학:  92
===============
===============
이름:  홍길동49
국어:  50
영어:  47
수학:  85
===============
===============
이름:  홍길동50
국어:  25
영어:  92
수학:  70
===============
===============
이름:  홍길동51
국어:  88
영어:  7
수학:  99
===============
===============
이름:  홍길동52
국어:  27
영어:  88
수학:  18
===============
===============
이름:  홍길동53
국어:  53
영어:  17
수학:  49
===============
===============
이름:  홍길동54
국어:  24
영어:  96
수학:  65
===============
===============
이름:  홍길동55
국어:  92
영어:  22
수학:  72
===============
===============
이름:  홍길동56
국어:  40
영어:  7
수학:  89
===============
===============
이름:  홍길동57
국어:  81
영어:  65
수학:  25
===============
===============
이름:  홍길동58
국어:  19
영어:  65
수학:  86
===============
===============
이름:  홍길동59
국어:  33
영어:  46
수학:  60
===============
===============
이름:  홍길동60
국어:  67
영어:  3
수학:  92
===============
===============
이름:  홍길동61
국어:  50
영어:  72
수학:  95
===============
===============
이름:  홍길동62
국어:  96
영어:  10
수학:  10
===============
===============
이름:  홍길동63
국어:  22
영어:  95
수학:  67
===============
===============
이름:  홍길동64
국어:  57
영어:  54
수학:  98
===============
===============
이름:  홍길동65
국어:  95
영어:  59
수학:  19
===============
===============
이름:  홍길동66
국어:  61
영어:  29
수학:  66
===============
===============
이름:  홍길동67
국어:  76
영어:  50
수학:  68
===============
===============
이름:  홍길동68
국어:  3
영어:  98
수학:  23
===============
===============
이름:  홍길동69
국어:  9
영어:  76
수학:  33
===============
===============
이름:  홍길동70
국어:  90
영어:  1
수학:  44
===============
===============
이름:  홍길동71
국어:  46
영어:  48
수학:  43
===============
===============
이름:  홍길동72
국어:  42
영어:  50
수학:  99
===============
===============
이름:  홍길동73
국어:  20
영어:  14
수학:  41
===============
===============
이름:  홍길동74
국어:  93
영어:  80
수학:  26
===============
===============
이름:  홍길동75
국어:  88
영어:  98
수학:  30
===============
===============
이름:  홍길동76
국어:  2
영어:  70
수학:  12
===============
===============
이름:  홍길동77
국어:  93
영어:  2
수학:  75
===============
===============
이름:  홍길동78
국어:  44
영어:  75
수학:  81
===============
===============
이름:  홍길동79
국어:  57
영어:  11
수학:  38
===============
===============
이름:  홍길동80
국어:  48
영어:  33
수학:  97
===============
===============
이름:  홍길동81
국어:  13
영어:  59
수학:  80
===============
===============
이름:  홍길동82
국어:  6
영어:  62
수학:  38
===============
===============
이름:  홍길동83
국어:  73
영어:  49
수학:  5
===============
===============
이름:  홍길동84
국어:  86
영어:  19
수학:  78
===============
===============
이름:  홍길동85
국어:  78
영어:  27
수학:  13
===============
===============
이름:  홍길동86
국어:  46
영어:  53
수학:  3
===============
===============
이름:  홍길동87
국어:  82
영어:  58
수학:  59
===============
===============
이름:  홍길동88
국어:  79
영어:  58
수학:  88
===============
===============
이름:  홍길동89
국어:  17
영어:  22
수학:  91
===============
===============
이름:  홍길동90
국어:  30
영어:  48
수학:  47
===============
===============
이름:  홍길동91
국어:  14
영어:  16
수학:  71
===============
===============
이름:  홍길동92
국어:  53
영어:  6
수학:  76
===============
===============
이름:  홍길동93
국어:  9
영어:  32
수학:  99
===============
===============
이름:  홍길동94
국어:  10
영어:  58
수학:  6
===============
===============
이름:  홍길동95
국어:  61
영어:  12
수학:  74
===============
===============
이름:  홍길동96
국어:  12
영어:  66
수학:  88
===============
===============
이름:  홍길동97
국어:  92
영어:  95
수학:  95
===============
===============
이름:  홍길동98
국어:  15
영어:  16
수학:  86
===============
===============
이름:  홍길동99
국어:  10
영어:  35
수학:  78
===============

In [5]:
#파이썬에서 sqlite3 사용 실습 
#테이블 생성
import sqlite3 as s # sqlite3 사용위해 임포트 후 s라는 명칭으로 사용

con=s.connect("my01.db") # DB연결, 현재 소스파일의 디렉토리
cursor = con.cursor() #데이터베이스 사용공간 생성

In [7]:
#파이썬에서 sqlite3 사용 실습 
#테이블 생성, 삭제
#파이썬에서 DB다루는 경우 처리순서
#connect - cursor - execute -  {fetchall} - cursor.close - con.close

import sqlite3 as s # sqlite3 사용위해 임포트 후 s라는 명칭으로 사용

con=s.connect("my01.db") # DB연결, 현재 소스파일의 디렉토리
cursor = con.cursor() #데이터베이스 사용공간 생성

#table 삭제 
#cursor.execute("drop table examtable;")   #이 소스코드로 해당db처음 생성이라 제거할 테이블없음
con.commit() #버퍼에 처리된 내용을 기록commit

# table 생성 : 테이블명 examtable, 항목은 name varchar(20),studentid int not null primary key kor int,eng int,mat int
cursor.execute("create table examtable(name varchar(20),studentid int not null primary key,\
kor int,eng int,mat int)")
con.commit()  #버퍼에 처리된 내용을 기록commit
cursor.close()
con.close() # 닫기

In [8]:
#데이터 삽입(insert)
import sqlite3 as s # sqlite3 사용위해 임포트 후 s라는 명칭으로 사용
con=s.connect("my01.db") # 파일 연결
cursor = con.cursor() #데이터베이스 사용공간 생성

#테이블내 레코드 삽입
cursor.execute("insert into examtable(name, studentid, kor, eng, mat) values (\"나연\", 20990001, 95, 100, 95);")   
cursor.execute("insert into examtable(name, studentid, kor, eng, mat) values (\"정연\", 20990002, 90, 90, 85);")
cursor.execute("insert into examtable(name, studentid, kor, eng, mat) values (\"모모\", 20990003, 95, 95, 75);")
cursor.execute("insert into examtable(name, studentid, kor, eng, mat) values (\"사나\", 20990004, 85, 90, 90);")
cursor.execute("insert into examtable(name, studentid, kor, eng, mat) values (\"지효\", 20990005, 100, 90, 85);")
cursor.execute("insert into examtable(name, studentid, kor, eng, mat) values (\"미나\", 20990006, 90, 80, 90);")
cursor.execute("insert into examtable(name, studentid, kor, eng, mat) values (\"다현\", 20990007, 75, 90, 100);")
cursor.execute("insert into examtable(name, studentid, kor, eng, mat) values (\"채영\", 20990008, 95, 70, 90);")
cursor.execute("insert into examtable(name, studentid, kor, eng, mat) values (\"쯔위\", 20990009, 85, 90, 90);")

con.commit()  #버퍼에 처리된 내용을 기록commit
cursor.close() 
con.close() # 닫기

In [9]:
#데이터 선택(select)
#select는 fetch를 사용하여 데이터를 반복으로 가져옴

import sqlite3 as s  # sqlite3 사용위해 임포트 후 s라는 명칭으로 사용
con=s.connect("my01.db")  # 파일 연결
cursor = con.cursor() #데이터베이스 사용공간 생성

cursor.execute("select * from examtable") #examtable 테이블의 모든 데이터 가져옴

one_rec=cursor.fetchall()  #해당 데이터를 전부 가져옴

for field in one_rec:  #해당 데이터를 반복문을 통해 하나씩 처리 
    kor=field[2]  #필드 값을 변수에 대입
    eng=field[3]  #필드 값을 변수에 대입 
    mat=field[4]  #필드 값을 변수에 대입
    
    #출력
    print("이름:%s 학번:%s 국어:%3d 영어:%3d 수학:%3d 총점:%3d 평균:%3d"\
          %(field[0],field[1],kor,eng,mat,kor+eng+mat,int((kor+eng+mat)/3))) 

cursor.close()
con.close() # 닫기

이름:나연 학번:20990001 국어: 95 영어:100 수학: 95 총점:290 평균: 96
이름:정연 학번:20990002 국어: 90 영어: 90 수학: 85 총점:265 평균: 88
이름:모모 학번:20990003 국어: 95 영어: 95 수학: 75 총점:265 평균: 88
이름:사나 학번:20990004 국어: 85 영어: 90 수학: 90 총점:265 평균: 88
이름:지효 학번:20990005 국어:100 영어: 90 수학: 85 총점:275 평균: 91
이름:미나 학번:20990006 국어: 90 영어: 80 수학: 90 총점:260 평균: 86
이름:다현 학번:20990007 국어: 75 영어: 90 수학:100 총점:265 평균: 88
이름:채영 학번:20990008 국어: 95 영어: 70 수학: 90 총점:255 평균: 85
이름:쯔위 학번:20990009 국어: 85 영어: 90 수학: 90 총점:265 평균: 88

In [ ]:
#끝